export MINT_KEYPAIR="3xopyrMywfM7UHEeDMDFPZQHE1HyGV7RNdsbr83qBw3fvG616rLCXVGqUi8ErzwBUnsrtFKc4cP78wG8hkQ88CDC"
export RPC_URL="http://127.0.0.1:8899"
export SIGNER_KEYPAIR="kmKbKwqkh7vzSn5jFwcoCdhXAWkYEp9dKXbYjNxD9UyExENRRpwPNUh81F52fE3LBKvyk2QiwdrQEoQJvMXqUEt"
